<app-navbar></app-navbar>

<div class="container-fluid" *ngIf="!this.isDeleted && this.userFound">
    <div class="text-center">
        <img src="{{ this.avatar }}" class="large-avatar">
        <h1>{{ this.user }}</h1>
        <span class="badge rounded-pill text-bg-{{ this.badgeColour }} badge">{{ this.badge }}</span>
    </div>

    <hr>

    <h4>About User</h4>
    <div class="about-user">
        <div class="row align-middle">
            <div class="col-1 text-center">
                <span class="align-bottom" class="material-symbols-rounded">
                    cake
                </span>
            </div>
            <div class="col">
                {{ this.birthday }} ({{ this.birthdayTimeSince }})
            </div>
        </div>

        <div class="row align-middle">
            <div class="col-1 text-center">
                <span class="align-bottom" class="material-symbols-rounded">
                    add_circle
                </span>
            </div>
            <div class="col">
                {{ this.creation }} ({{ this.creationTimeSince }})
            </div>
        </div>

        <hr>

        <h4>User Posts</h4>
        <br>
        <div *ngIf="!this.isMuted">
            <app-user-post *ngFor="let post of this.data.reverse()" 
            [poster]="this.user"
            [type]="post.type"
            [date]="post.date"
            [header]="post.header"
            [body]="post.body"
            [media]="post.media"
            [likes]="post.likes"
            [comments]="post.comments"></app-user-post>
        </div>

        <div class="text-center light" *ngIf="this.isMuted">
            This user has been muted by the moderation team due to violations of our Community Guidelines and Terms of Service. As a result, so you can't see their posts.
        </div>
    </div>
</div>

<div class="container-fluid" *ngIf="this.isDeleted">
    <div class="position-absolute top-50 start-50 translate-middle">
        <h1 class="text-center light">This user as been deleted</h1>
    </div>
</div>

<app-error-page *ngIf="!this.userFound"></app-error-page>