<app-navbar></app-navbar>

<div class="container-fluid">
  <div *ngIf="!this.isLoading && this.isFound">
    <app-user-post
      [id]="this.post.id"
      [poster]="this.post.poster"
      [avatar]="this.post.avatar"
      [badge]="this.post.badge"
      [postType]="this.post.postType"
      [postDate]="this.post.postDate"
      [header]="this.post.header"
      [body]="this.post.body"
      [media]="this.post.media"
      [likes]="this.post.likes"
      [comments]="this.post.comments"></app-user-post>

    <h5>
      Comments
      <span class="badge rounded-pill text-bg-secondary">{{
        this.comments.length
      }}</span>
    </h5>
    <div *ngIf="this.hasComments">
      <app-user-post
        *ngFor="let comment of this.comments.reverse()"
        [id]="comment.id"
        [poster]="comment.username"
        [avatar]="comment.avatar"
        [badge]="comment.badge"
        [postType]="'comment'"
        [postDate]="comment.postDate"
        [header]=""
        [body]="comment.body"
        [media]=""
        [likes]="comment.likes"
        [comments]="0"></app-user-post>
    </div>

    <div *ngIf="this.post.comments === 0" class="text-center light">
      No comments found
    </div>
  </div>

  <div *ngIf="!this.isFound && !this.isLoading">
    <app-error-page></app-error-page>
  </div>
</div>

<app-loading [isLoading]="this.isLoading"></app-loading>
