<app-navbar></app-navbar>

<div #top class="container-fluid" *ngIf="!this.isLoading && this.userFound">
  <!-- (!this.user.isDeleted && this.userFound) || -->
  <div class="text-center">
    <img src="{{ this.user.avatar }}" class="shadow large-avatar" />
    <h1>
      {{ this.user.username }}
    </h1>
    <span class="badge rounded-pill text-bg-{{ this.badgeColour }} badge">{{
      this.badge
    }}</span>
    <div *ngIf="this.userIsOnTheirPage" class="dropdown">
      <br />
      <button
        class="btn btn-secondary dropdown-toggle"
        type="button"
        data-bs-toggle="dropdown"
        aria-expanded="false">
        Actions
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Edit Account</a></li>
        <li><a class="dropdown-item" href="#">See Following</a></li>
        <li><a class="dropdown-item" href="#">See Followers</a></li>
        <li><a class="dropdown-item" href="#">Delete Account</a></li>
      </ul>
    </div>
    <div *ngIf="!this.userIsOnTheirPage && this.isSignedIn" class="dropdown">
      <br />
      <button
        type="button"
        class="btn btn-outline-primary"
        data-bs-toggle="button"
        autocomplete="off">
        Follow
      </button>
    </div>
  </div>

  <hr />

  <h4>About User</h4>
  <div class="about-user">
    <div class="row align-middle">
      <div class="col-1 text-center">
        <span class="align-bottom" class="material-symbols-rounded">
          cake
        </span>
      </div>
      <div class="col">
        {{ this.birthdayString }}
        ({{ this.birthdayTimeSince }})
      </div>
    </div>

    <div class="row align-middle">
      <div class="col-1 text-center">
        <span class="align-bottom" class="material-symbols-rounded">
          add_circle
        </span>
      </div>
      <div class="col">
        {{ this.accountCreationString }}
        ({{ this.accountCreationTimeSince }})
      </div>
    </div>

    <hr />

    <div class="text-center light" *ngIf="this.user.isMuted">
      This user has been temporarily muted by the moderation team due to
      violations of our Community Guidelines and Terms of Service. As a result,
      so you can't see their posts. They can still like and follow accounts but
      they cannot comment or post.
    </div>

    <div *ngIf="!this.user.isMuted">
      <div id="posts">
        <h4>
          User Posts
          <span class="badge rounded-pill text-bg-secondary">{{
            this.posts.length
          }}</span>
        </h4>
        <a (click)="scroll(commentsArea)">Go to Comments</a>
        <br />
        <br />
        <div>
          <app-user-post
            *ngFor="let post of this.posts"
            [id]="post.id"
            [poster]="this.user.username"
            [avatar]="this.user.avatar"
            [badge]="post.badge"
            [postType]="post.postType"
            [postDate]="post.postDate"
            [header]="post.header"
            [body]="post.body"
            [media]="post.media"
            [likes]="post.likes"
            [comments]="post.comments"></app-user-post>
        </div>

        <div class="text-center light" *ngIf="this.user.isMuted">
          This user has been temporarily muted by the moderation team due to
          violations of our Community Guidelines and Terms of Service. As a
          result, so you can't see their posts. They can still like and follow
          accounts but they cannot comment or post.
        </div>
      </div>

      <hr #commentsArea />

      <div id="comments">
        <h4>
          User Comments
          <span class="badge rounded-pill text-bg-secondary">{{
            this.comments.length
          }}</span>
        </h4>
        <a (click)="scroll(top)">Go to Top</a>
        <br />
        <br />
        <div>
          <app-user-post
            *ngFor="let comment of this.comments"
            [id]="comment.id"
            [underPostId]="comment.postId"
            [poster]="this.user.username"
            [avatar]="this.user.avatar"
            [postType]="'comment'"
            [postDate]="comment.postDate"
            [header]=""
            [body]="comment.body"
            [media]=""
            [likes]="comment.likes"></app-user-post>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid" *ngIf="this.user.isDeleted">
  <div class="position-absolute top-50 start-50 translate-middle">
    <h1 class="text-center light">This user as been deleted</h1>
  </div>
</div>
<div *ngIf="!this.isLoading && !this.userFound">
  <app-error-page *ngIf="!this.userFound"></app-error-page>
</div>
<app-loading [isLoading]="this.isLoading"></app-loading>
