<app-navbar></app-navbar>

<div class="container-fluid">
  <div *ngIf="!this.isLoading && this.isFound">
    <app-user-post
      [id]="this.post.id"
      [poster]="this.post.poster"
      [avatar]="this.post.avatar"
      [badge]="this.post.badge"
      [postType]="this.post.postType"
      [postDate]="this.post.postDate"
      [header]="this.post.header"
      [body]="this.post.body"
      [media]="this.post.media"
      [likes]="this.post.likes"
      [comments]="this.post.comments"></app-user-post>

    <h5>
      Comments
      <span class="badge rounded-pill text-bg-secondary">{{
        this.comments.length
      }}</span>
    </h5>
    <div *ngIf="this.isSignedIn">
      <br />
      <h5>Post a comment</h5>
      <textarea
        #body_input
        (keyup)="this.commentChanged(body_input.value)"
        class="form-control invertible"
        id="body"
        rows="3"></textarea>
      <p class="light">({{ this.comment.length }}/2000)</p>
      <p class="light" *ngIf="!this.readyToPost">
        You must include text in order to be able to comment
      </p>
      <p class="light" *ngIf="this.dataOverload">
        Your comment has too much information
      </p>
      <div
        *ngIf="this.isPosting"
        class="spinner-border spinner-border-sm"
        role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <button
        *ngIf="this.readyToPost && !this.dataOverload && !this.isPosting"
        type="button"
        class="btn btn-primary"
        (click)="this.postComment()">
        Comment!
      </button>
      <br />
    </div>
    <div *ngIf="this.hasComments">
      <app-user-post
        *ngFor="let comment of this.comments"
        [id]="comment.id"
        [poster]="comment.username"
        [avatar]="comment.avatar"
        [badge]="comment.badge"
        [postType]="'comment'"
        [postDate]="comment.postDate"
        [header]=""
        [body]="comment.body"
        [media]=""
        [likes]="comment.likes"
        [comments]="0"></app-user-post>
    </div>

    <div *ngIf="this.post.comments === 0" class="text-center light">
      No comments found
    </div>
  </div>

  <div *ngIf="!this.isFound && !this.isLoading">
    <app-error-page></app-error-page>
  </div>
</div>

<app-loading [isLoading]="this.isLoading"></app-loading>
