<div class="position-absolute top-50 start-50 translate-middle">
  <div class="container">
    <div class="shadow card">
      <div class="card-header text-center">Login</div>
      <div class="card-body">
        <form>
          <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="username" class="form-control invertible" id="username" />
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control invertible" id="password" />
          </div>
          <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input invertible" id="staySignedIn" />
            <p>Stay signed in</p>
          </div>
          <button type="submit" class="btn btn-primary">Login</button>
        </form>
      </div>
    </div>
  </div>
</div>
