<app-navbar></app-navbar>

<div class="container-fluid">
  <div class="d-grid gap-2">
    <a
      *ngIf="this.isSignedIn"
      class="shadow btn btn-primary"
      href="/create-post"
      role="button"
      >Post something...</a
    >
  </div>
  <br />
  <div *ngIf="!this.isLoading">
    <app-user-post
      *ngFor="let post of this.posts"
      [id]="post.id"
      [poster]="post.poster"
      [avatar]="post.avatar"
      [badge]="post.badge"
      [postType]="post.postType"
      [postDate]="post.postDate"
      [header]="post.header"
      [body]="post.body"
      [media]="post.media"
      [likes]="post.likes"
      [comments]="post.comments"></app-user-post>
  </div>
  <div
    *ngIf="this.notFollowingAnyone"
    class="position-absolute top-50 start-50 translate-middle text-center">
    <p class="light">You aren't following anyone 🙈</p>
  </div>

  <app-loading [isLoading]="this.isLoading"></app-loading>
</div>
