<app-navbar></app-navbar>

<div class="container-fluid">
  <h4>Create Post</h4>
  <br />
  <form>
    <h5>Title</h5>
    <input
      #title
      (keyup)="this.titleChanged(title.value)"
      type="text"
      id="title"
      class="form-control invertible" />
    <p class="light">({{ this.header.length }}/128)</p>
    <br />
    <h5>Body</h5>
    <textarea
      #body_input
      (keyup)="this.bodyChanged(body_input.value)"
      class="form-control invertible"
      id="body"
      rows="3"></textarea>
    <p class="light">({{ this.body.length }}/2000)</p>
    <br />
    <h5>Media</h5>
    <div *ngIf="!this.mediaUploading">
      <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
          <button
            class="nav-link active"
            id="pills-image-tab"
            data-bs-toggle="pill"
            data-bs-target="#pills-image"
            type="button"
            role="tab"
            aria-controls="pills-image"
            aria-selected="true">
            Image
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button
            class="nav-link"
            id="pills-video-tab"
            data-bs-toggle="pill"
            data-bs-target="#pills-video"
            type="button"
            role="tab"
            aria-controls="pills-video"
            aria-selected="false">
            Video
          </button>
        </li>
      </ul>
      <div class="tab-content" id="pills-tabContent">
        <div
          class="tab-pane fade show active"
          id="pills-image"
          role="tabpanel"
          aria-labelledby="pills-image-tab"
          tabindex="0">
          <input
            type="file"
            class="file-input"
            (change)="onFileSelected($event)"
            accept="image/*"
            #fileUpload />
        </div>
        <div
          class="tab-pane fade"
          id="pills-video"
          role="tabpanel"
          aria-labelledby="pills-video-tab"
          tabindex="0">
          <input
            type="file"
            class="file-input"
            accept="video/*"
            (change)="onFileSelected($event)"
            #fileUpload />
        </div>
      </div>
    </div>
    <div
      *ngIf="this.mediaUploading"
      class="spinner-border spinner-border-sm"
      role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    <br />
    <p class="light" *ngIf="!this.readyToPost">
      You must include a title and a body in order to be able to post
    </p>
    <p class="light" *ngIf="this.dataOverload">
      Your title or body has too much information
    </p>
    <div
      *ngIf="this.isPosting"
      class="spinner-border spinner-border-sm"
      role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    <button
      *ngIf="this.readyToPost && !this.dataOverload && !this.isPosting"
      type="button"
      class="btn btn-primary"
      (click)="this.post()">
      Post!
    </button>
  </form>
  <br />

  <h5>How your post will look:</h5>
  <app-user-post
    [id]="0"
    [poster]="this.username"
    [avatar]="this.avatar"
    [postType]="this.type"
    [postDate]="this.date"
    [header]="this.header"
    [body]="this.body"
    [media]="this.media"
    [likes]="this.likes"
    [comments]="this.comments"></app-user-post>
</div>

<script
  type="text/javascript"
  src="../../../../node_modules/ng-giphy/dist/ng-giphy.min.js"></script>
