/* You can add global styles to this file, and also import other style files */
@media (prefers-color-scheme: light) {
	body {
		background-color: #f5f5f5;
		color: #222;
	}
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: #222;
		color: #fff;
	}

	.navbar {
		background-color: rgb(38, 38, 38);
	}

	.card {
		background-color: rgb(38, 38, 38);
	}

    .invertible {
        filter: invert(1);
    }
}